body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #000;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    color: #1db954;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
    cursor: pointer;
    color: #b3b3b3;
}

.sidebar li.active,
.sidebar li:hover {
    color: #1db954;
}

/* Main */
.main {
    flex: 1;
    padding: 25px;
}

h2 {
    margin: 25px 0 15px;
}

/* Song grid */
.songs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.song {
    background: #181818;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.song img {
    width: 100%;
    border-radius: 10px;
}

.song:hover {
    background: #282828;
    transform: scale(1.05);
}

/* Player */
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #333;
}
.song-card {
    height: 170px;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* gradient backgrounds */
.romantic {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
}

.motivational {
    background: linear-gradient(135deg, #f7971e, #ffd200);
}

.chill {
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
}

.party {
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
}

.sad {
    background: linear-gradient(135deg, #232526, #414345);
}

/* text */
.song-card h4 {
    margin: 0;
    font-size: 18px;
}

.song-card p {
    margin: 5px 0 0;
    opacity: 0.9;
    font-size: 14px;
}

/* play button */
.play-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #1db954;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    opacity: 0;
    transition: 0.3s;
    color: black;
}

.song-card:hover .play-btn {
    opacity: 1;
    transform: scale(1.1);
}

.song-card:hover {
    transform: translateY(-8px);
}
/* top bar */
.top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.account {
    background: #000;
    padding: 6px 14px 6px 6px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.account:hover {
    background: #222;
}

.avatar {
    width: 32px;
    height: 32px;
    background: #1db954;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.name {
    font-size: 14px;
}
